{% extends 'base.html' %}
{% load static %}
{% load has_group %}
{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.js" integrity="sha512-lUsN5TEogpe12qeV8NF4cxlJJatTZ12jnx9WXkFXOy7yFbuHwYRTjmctvwbRIuZPhv+lpvy7Cm9o8T9e+9pTrg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    {% block title %}{{ exam.name }}{% endblock %}
{% endblock %}


{% block content %}
    <div class="row mb-4">
        <div class="col-md-12">
            <h1 class="d-inline">Statistics - {{ exam.name }}</h1>
            <div class="d-inline">
                <a href="{% url 'events:events' exam.pk %}" class="btn btn-outline-primary ml-3 mb-3" ><i class="bi bi-calendar"></i></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9 mb-2">
            <canvas id="voteChart" width="400" height="250" class="border"></canvas>
        </div>
        {% if user.is_authenticated  %}
            <div class="col-md-3 text-right float-right mt-2">
                <h5>Subject:
                    <span class="star {{ avg_subject|floatformat:"0" }} text-nowrap">
                    </span>
                    {{ avg_subject|floatformat:"1" }}
                </h5>
                <h5>Lectures:
                    <span class="star {{ avg_lectures|floatformat:"0" }} text-nowrap">
                    </span>
                    {{ avg_lectures|floatformat:"1" }}
                </h5>
                <h5>Test:
                    <span class="star {{ avg_test|floatformat:"0" }} text-nowrap">
                    </span>
                    {{ avg_test|floatformat:"1" }}
                </h5>
            </div>
        {% endif %}

    </div>
    {% if user.is_authenticated  %}
        <form action="{% url "reviews:reviews" exam.pk %}" method="GET">
            <div class="input-group mb-3 mt-3">
                {% if not_reviewed %}
                    <div class="input-group-prepend">
                        <a href="{% url 'reviews:add-review' exam.pk %}" class="btn btn-success" ><i class="bi bi-plus-lg"></i></a>
                    </div>
                {% endif %}
                <div class="input-group-append">
                    <select class="custom-select inline-group" aria-label="Select order" name="order">
                        <option {% if order == "most_recent" %}selected{% endif %} value="most_recent">Most Recent</option>
                        <option {% if order == "least_recent" %}selected{% endif %} value="least_recent" >Least Recent</option>
                        {% comment %}<option {% if order == "most_liked" %}selected{% endif %} value="most_liked" >Most Liked</option>
                        <option {% if order == "least_liked" %}selected{% endif %} value="least_liked" >Least Liked</option>{% endcomment %}
                    </select>
                        <button class="btn btn-primary" type="submit">Sort</button>
                    </div>
                </div>

        </form>

        {% if object_list.count > 0 %}
            <ul class="list-unstyled mt-4">
                {% for review in object_list %}
                    <li  class="media border p-3">
                        <a href="{% url "users:profile" review.author.pk %}">
                        {% if review.author.propic %}
                            <img class="mr-3 img-fluid img-thumbnail rounded-circle" width="100px" src="{{ review.author.propic.url }}">
                        {% else %}
                            <img class="mr-3 img-fluid img-thumbnail rounded-circle" width="100px" src="{% static 'users/avatar-placeholder.png' %}">
                        {% endif %}
                        </a>
                        <div class="media-body">

                            <h6><a href="{% url "users:profile" review.author.pk %}" class="text-dark">{{ review.author.username }}</a> - <small><i>{{ review.created_on }}</i></small></h6>
                            <div>
                                {{ review.text }}
                            </div>


                        </div>
                        <div class="col-6 float-right text-right">
                            <p>Subject:
                                <span class="star {{ review.subject }} text-nowrap">
                                </span>
                            </p>
                            <p>Lectures:
                                <span class="star {{ review.lectures }} text-nowrap">
                                </span>
                            </p>
                            <p>Test:
                                <span class="star {{ review.test }} text-nowrap">
                                </span>
                            </p>
                            {% if user|has_group:"mods" or user == review.author %}
                            <div class="mt-4">
                                <a href="{% url "reviews:delete-review" review.pk %}" class="btn btn-danger mb-2 mr-2" ><i class="bi bi-trash"></i></a>
                                <a href="{% url "reviews:update-review" review.pk %}" class="btn btn-secondary mb-2 mr-2" ><i class="bi bi-pencil"></i></a>

                            </div>
                            {% endif %}
                        </div>
                    </li>

                {% endfor %}
            </ul>
        {% else %}
            <h3>No reviews</h3>
        {% endif %}

        <nav aria-label="..." class="mt-5">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" tabindex="-1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">{{ page_obj.previous_page_number }}</a>
                    </li>
                {% endif %}

                <li class="page-item active">
                    <a class="page-link" href="" id="actual-page-link">{{ page_obj.number }}<span class="sr-only">(current)</span></a>
                </li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    </li>

                {% endif %}

            </ul>
        </nav>

    {% endif %}

{% endblock %}
{% block javascript %}
        <script>
        links = document.getElementsByClassName("page-link")
        for (var i = 0; i < links.length; i++) {
            if(links[i].id != "actual-page-link"){
                links[i].href += "&order={{ order }}"
            }

        }

        stars = document.getElementsByClassName("star")
        for (var i = 0; i < stars.length; i++) {
            var classList = stars[i].className.split(' ');
            for(var j=0; j<parseInt(classList[1]); j++){
                stars[i].innerHTML += '<i class="bi bi-star-fill text-warning"></i> ';
            }
            for(var j=0; j<5-parseInt(classList[1]); j++){
                stars[i].innerHTML += '<i class="bi bi-star"></i> ';
            }

        }

    </script>

    <script>
        var ctx = document.getElementById('voteChart').getContext('2d');



        const labels = [];
        for (let i = 18; i < 31; ++i) {
          labels.push(i.toString());
        }
        const datapoints = [{% for i in vote_distribution %}{{ i }}, {% endfor %}];
        const data = {
          labels: labels,
          datasets: [
            {
              label: 'Marks',
              data: datapoints,
              borderColor: "#007bff",
              fill: false,
              tension: 0.4
            }
          ]
        };
        const config = {
          type: 'line',
          data: data,
          options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
              title: {
                fontSize: 28,
                display: true,
                text: 'Marks distribution',
                padding: {
                    top: 5,
                    bottom: 5
                }

              },
                subtitle: {
                    display: true,
                    text: 'Average: {{ vote_average|floatformat:"1" }}',
                    padding: {
                        top: 5,
                        bottom: 5
                    }

                }
            },
            interaction: {
              intersect: false,
            },
            scales: {
              x: {
                display: true,
                title: {
                  display: true,
                  text: 'Mark'
                }
              },
              y: {
                display: true,
                title: {
                  display: true,
                  text: 'Frequency'
                },

              }
            }
          },
        };
        var markChart = new Chart(ctx, config)
    </script>
{% endblock %}