{% extends 'base.html' %}
{% load static %}
{% block title %}Delete Event{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Delete Event</h1>
        </div>
    </div>
    <form method="POST" class="mt-4" >
        {% csrf_token %}
        <h3 class="font-weight-light">Are you sure you want to delete <b>{{ object.title }} {{ object.start_date }}{% if object.start_time %} - {{ object.start_time }}{% endif %}</b> event?</h3>
        <button type="submit" class="btn btn-danger mt-4">Delete Event</button>
    </form>

{% endblock %}