{% extends 'base.html' %}
{% load static %}
{% load has_group %}

{% block head %}
    {% block title %}Events{% endblock %}
    <link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>

    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>

{% endblock %}

{% block content %}
    <h1 class="d-inline">Events - {{ topic }}</h1>
    {% if user|has_group:"mods" %}
    <div class="d-inline">
        <a href="{% url 'events:add-event' topic.pk %}" class="btn btn-outline-primary mb-3 ml-3" ><i class="bi bi-plus-lg"></i></a>
    </div>
    {% endif %}
    <div id='calendar' class="mt-4"></div>


{% endblock %}
{% block javascript %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                themeSystem: 'bootstrap',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                events: [
                    {% for event in event_list %}
                    {
                        title: '{{ event.title }}',
                        start: '{{ event.start_date.isoformat }}{% if event.start_time %} {{ event.start_time.isoformat }}{% endif %}',
                        url: '{% url 'events:view-event' event.pk %}',
                    },
                    {% endfor %}
                ]
            });
            calendar.render();
        });
    </script>
{% endblock %}