{% extends 'base.html' %}
{% load static %}
{% load has_group %}
{% block title %}{{ event.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ event.title }}</h1>
            <div class="col-2 float-right">
                {% if user|has_group:"mods" %}
                    <a href="{% url 'events:delete-event' event.pk %}" class="btn btn-danger mb-2 mr-2" ><i class="bi bi-trash"></i></a>
                    <a href="{% url 'events:update-event' event.pk %}" class="btn btn-secondary mb-2" ><i class="bi bi-pencil"></i></a>
                {% endif %}
            </div>
            <h3>{{ event.start_date }}{% if event.start_time %} - {{ event.start_time }}{% endif %}</h3>
            <div class="mt-4">
                <hr class="mb-4"/>
                {% if event.description %}
                {{ event.description|safe }}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}