{% extends 'base.html' %}
{% load static %}
{% block title %}Delete Comment{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Delete Comment</h1>
        </div>
    </div>
    <ul class="list-unstyled mt-4">

        <li  class="media border p-3">
        {% if post.author.propic %}
            <img class="mr-3 img-fluid img-thumbnail rounded-circle" width="100px" src="{{ post.author.propic.url }}">
        {% else %}
            <img class="mr-3 img-fluid img-thumbnail rounded-circle" width="100px" src="{% static 'users/avatar-placeholder.png' %}">
        {% endif %}

          <div class="media-body">
            <h3 class="mt-0"><a href="{% url 'forum:view-post' post.pk %}">{{ post.title }}</a></h3>
              <h6>{{ post.author.username }} - <small><i>{{ post.created_on }}</i></small></h6>
              <div>
                  {{ post.content|safe|truncatewords:20 }}
              </div>
              <div class="media p-3">
                  <a class="mr-3" href="#">
                    {% if object.author.propic %}
                        <img class="mr-3 img-fluid img-thumbnail rounded-circle" width="100px" src="{{ object.author.propic.url }}">
                    {% else %}
                        <img class="mr-3 img-fluid img-thumbnail rounded-circle" width="100px" src="{% static 'users/avatar-placeholder.png' %}">
                    {% endif %}
                  </a>
                  <div class="media-body">
                    <div class="row">
                        <div class="col-10">
                            <h6>{{ object.author.username }} - <small><i>{{ object.created_on }}</i></small></h6>
                            <p>{{ object.content|safe }}</p>
                        </div>
                    </div>
                  </div>

                </div>
          </div>

        </div>
        </li>

    </ul>
    <form method="POST" class="mt-4" >
        {% csrf_token %}
        <h3 class="font-weight-light">Are you sure you want to delete this comment?</h3>
        <button type="submit" class="btn btn-danger mt-4">Delete Comment</button>
    </form>

{% endblock %}