{% extends 'base.html' %}
{% load static %}
{% load has_group %}
{% block title %}Topics{% endblock %}

{% block content %}
    <h1>Topics</h1>
    {% if user|has_group:"mods" %}
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="{% url 'forum:add-topic' %}" class="btn btn-primary btn-lg" ><i class="bi bi-plus-lg"></i></a>
            </div>
        </div>
    {% endif %}
    {% for topic in object_list %}
        <div class="card mt-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <a href="{% url "forum:view-topic" topic.pk %}" class="stretched-link"></a>
                        <h3>{{ topic.name }}</h3>
                    </div>
                    <div class="col-3 float-right">
                        <a href="{% url 'events:events' topic.pk %}" class="btn btn-outline-primary mb-2 mr-2" ><i class="bi bi-calendar"></i></a>
                        {% if topic.is_exam %}
                            <a href="{% url 'reviews:reviews' topic.pk %}" class="btn btn-outline-primary mb-2 mr-2" ><i class="bi bi-bar-chart-fill"></i></a>
                        {% endif %}
                        {% if user|has_group:"mods" %}
                            <a href="{% url 'forum:delete-topic' topic.pk %}" class="btn btn-danger mb-2 mr-2" ><i class="bi bi-trash"></i></a>
                            <a href="{% url 'forum:update-topic' topic.pk %}" class="btn btn-secondary mb-2" ><i class="bi bi-pencil"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}