{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Update Comment{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Update Comment</h1>
        </div>
    </div>
    <ul class="list-unstyled mt-4">

        <li  class="media border p-3">
        {% if post.author.propic %}
            <img class="mr-3 img-fluid img-thumbnail rounded-circle" width="100px" src="{{ post.author.propic.url }}">
        {% else %}
            <img class="mr-3 img-fluid img-thumbnail rounded-circle" width="100px" src="{% static 'users/avatar-placeholder.png' %}">
        {% endif %}

          <div class="media-body">
            <h3 class="mt-0"><a href="{% url 'forum:view-post' post.pk %}">{{ post.title }}</a></h3>
              <h6>{{ post.author.username }} - <small><i>{{ post.created_on }}</i></small></h6>
              <div>
                  {{ post.content|safe|truncatewords:20 }}
              </div>

          </div>

        </div>
        </li>

    </ul>
    <form method="POST" >
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Update Comment</button>
    </form>

{% endblock %}