{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Update Topic{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Update Topic</h1>
        </div>
    </div>
    <form method="POST" >
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Update Topic</button>
    </form>

{% endblock %}