{% extends 'base.html' %}
{% load static %}
{% load has_group %}
{% load crispy_forms_tags %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ post.title }}</h1>
        </div>

    </div>


    <ul class="list-unstyled mt-4">


        <li  class="media border p-3">
            <a href="{% url "users:profile" post.author.pk %}">
            {% if post.author.propic %}
                <img class="mr-3 img-fluid img-thumbnail rounded-circle" width="100px" src="{{ post.author.propic.url }}">
            {% else %}
                <img class="mr-3 img-fluid img-thumbnail rounded-circle" width="100px" src="{% static 'users/avatar-placeholder.png' %}">
            {% endif %}
            </a>
            <div class="media-body">

                <h6><a href="{% url "users:profile" post.author.pk %}" class="text-dark">{{ post.author.username }}</a> - <small><i>{{ post.created_on }}</i></small></h6>
                <div>
                    {{ post.content|safe }}
                </div>
                <br/>
                {% for comment in object_list %}
                    <div class="media p-3">
                        <a href="{% url "users:profile" comment.author.pk %}" class="mr-3">

                            {% if comment.author.propic %}
                                <img class="mr-3 img-fluid img-thumbnail rounded-circle" width="100px" src="{{ comment.author.propic.url }}">
                            {% else %}
                                <img class="mr-3 img-fluid img-thumbnail rounded-circle" width="100px" src="{% static 'users/avatar-placeholder.png' %}">
                            {% endif %}
                        </a>
                        <div class="media-body">
                            <div class="row">
                                <div class="col-10">
                                    <h6><a href="{% url "users:profile" comment.author.pk %}" class="text-dark">{{ comment.author.username }}</a> - <small><i>{{ comment.created_on }}</i></small></h6>
                                    <p>{{ comment.content|safe }}</p>
                                </div>
                                <div class="col-2 float-right">
                                    {% if user|has_group:"mods" or user == comment.author %}
                                        <a href="{% url 'forum:delete-comment' comment.pk %}" class="btn btn-danger mb-2 mr-2" ><i class="bi bi-trash"></i></a>
                                        <a href="{% url 'forum:update-comment' comment.pk %}" class="btn btn-secondary mb-2 mr-2" ><i class="bi bi-pencil"></i></a>
                                    {% endif %}
                                    <form method="POST" action="{% url 'forum:like-comment' comment.pk %}" class="form-check-inline">
                                        {% csrf_token %}
                                        <h2 style="display:inline"><button type="submit" class="btn btn-outline-danger">{{ comment.likes.count }} <i class="bi bi-heart{% if user in comment.likes.all %}-fill{% endif %}"></i></button></h2>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
            <div class="col-2 float-right">
                {% if user|has_group:"mods" or user == post.author %}
                    <a href="{% url 'forum:delete-post' post.pk %}" class="btn btn-danger mb-2 mr-2" ><i class="bi bi-trash"></i></a>
                    <a href="{% url 'forum:update-post' post.pk %}" class="btn btn-secondary mb-2 mr-2" ><i class="bi bi-pencil"></i></a>
                {% endif %}
                <form method="POST" action="{% url 'forum:like-post' post.pk %}" class="form-check-inline">
                    {% csrf_token %}
                    <h2 style="display:inline"><button type="submit" class="btn btn-outline-danger">{{ post.likes.count }} <i class="bi bi-heart{% if user in post.likes.all %}-fill{% endif %}"></i></button></h2>
                </form>
            </div>
        </li>


    </ul>


    <nav aria-label="..." class="mt-5">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" tabindex="-1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">{{ page_obj.previous_page_number }}</a>
                </li>
            {% endif %}

            <li class="page-item active">
                <a class="page-link" href="" id="actual-page-link">{{ page_obj.number }}<span class="sr-only">(current)</span></a>
            </li>
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                </li>

            {% endif %}

        </ul>
    </nav>
    <div>
        <form method="POST" action="{% url 'forum:add-comment' post.pk %}">
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Add Comment</button>
        </form>
    </div>


{% endblock %}
{% block javascript %}
        <script>
        links = document.getElementsByClassName("page-link")
        for (var i = 0; i < links.length; i++) {
            if(links[i].id != "actual-page-link"){
                links[i].href += "&query={{ search }}"
                links[i].href += "&order={{ order }}"
            }

        }

    </script>
{% endblock %}