{% extends 'base.html' %}
{% load static %}
{% load has_group %}
{% block title %}{{ topic.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="d-inline">{{ topic.name }}</h1>
            <div class="d-inline">
                <a href="{% url 'events:events' topic.pk %}" class="btn btn-outline-primary ml-3 mb-3" ><i class="bi bi-calendar"></i></a>
            </div>
            {% if topic.is_exam %}
                <div class="d-inline">
                    <a href="{% url 'reviews:reviews' topic.pk %}" class="btn btn-outline-primary ml-3 mb-3" ><i class="bi bi-bar-chart-fill"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    {% if user.is_authenticated %}
        <form action="{% url "forum:view-topic" topic.pk %}" method="GET">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <a href="{% url 'forum:add-post' topic.pk %}" class="btn btn-success" ><i class="bi bi-plus-lg"></i></a>
                </div>

                <input name="query" type="text" class="form-control" placeholder="Search post" aria-label="query" {% if search %} value="{{ search }}" {% endif %}>

                <div class="input-group-append">
                    <select class="custom-select" aria-label="Select order" name="order">
                        <option {% if order == "most_recent" %}selected{% endif %} value="most_recent">Most Recent</option>
                        <option {% if order == "least_recent" %}selected{% endif %} value="least_recent" >Least Recent</option>
                        <option {% if order == "most_liked" %}selected{% endif %} value="most_liked" >Most Liked</option>
                        <option {% if order == "least_liked" %}selected{% endif %} value="least_liked" >Least Liked</option>
                    </select>
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>

        </form>


        <ul class="list-unstyled mt-4">
            {% for post in object_list %}

                <li  class="media border p-3">
                    <a href="{% url "users:profile" post.author.pk %}">
                    {% if post.author.propic %}
                        <img class="mr-3 img-fluid img-thumbnail rounded-circle" width="100px" src="{{ post.author.propic.url }}">
                    {% else %}
                        <img class="mr-3 img-fluid img-thumbnail rounded-circle" width="100px" src="{% static 'users/avatar-placeholder.png' %}">
                    {% endif %}
                    </a>
                    <div class="media-body">
                        <h3 class="mt-0"><a href="{% url 'forum:view-post' post.pk %}">{{ post.title }}</a></h3>
                        <h6><a href="{% url "users:profile" post.author.pk %}" class="text-dark">{{ post.author.username }}</a> - <small><i>{{ post.created_on }}</i></small></h6>
                        <div>
                            {{ post.content|safe|truncatewords:20 }}
                        </div>
                    </div>
                    <div class="col-2 float-right">
                        {% if user|has_group:"mods" or user == post.author %}
                            <a href="{% url 'forum:delete-post' post.pk %}" class="btn btn-danger mb-2 mr-2" ><i class="bi bi-trash"></i></a>
                            <a href="{% url 'forum:update-post' post.pk %}" class="btn btn-secondary mb-2 mr-2" ><i class="bi bi-pencil"></i></a>
                        {% endif %}
                        <form method="POST" action="{% url 'forum:like-post' post.pk %}" class="form-check-inline">
                            {% csrf_token %}
                            <h2 style="display:inline"><button type="submit" class="btn btn-outline-danger">{{ post.likes.count }} <i class="bi bi-heart{% if user in post.likes.all %}-fill{% endif %}"></i></button></h2>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>


        <nav aria-label="..." class="mt-5">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" tabindex="-1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">{{ page_obj.previous_page_number }}</a>
                    </li>
                {% endif %}

                <li class="page-item active">
                    <a class="page-link" href="" id="actual-page-link">{{ page_obj.number }}<span class="sr-only">(current)</span></a>
                </li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    </li>

                {% endif %}

            </ul>
        </nav>
    {% endif %}


{% endblock %}

{% block javascript %}
        <script>
        links = document.getElementsByClassName("page-link")
        for (var i = 0; i < links.length; i++) {
            if(links[i].id != "actual-page-link"){
                links[i].href += "&query={{ search }}"
                links[i].href += "&order={{ order }}"
            }

        }

    </script>
{% endblock %}