{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <p><a href="{% url 'password_reset' %}">Did you forget the password?</a></p>
        <input type="submit" value="Login" class="btn btn-primary">
    </form>
{% endblock %}
