{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Password reset sent{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col-md-12">
            <h1>Password reset sent</h1>
        </div>
    </div>
    <div class="alert alert-success" role="alert">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
        If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</div>
{% endblock %}