{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col-md-12">
            <h1>Reset Password</h1>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-info">Reset</button>
    </form>
{% endblock %}