{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col-md-12">
            <h1>Reset Password</h1>
        </div>
    </div>
    {% if validlink %}
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    {% else %}
        <div class="alert alert-danger" role="alert">The password reset link was invalid, possibly because it has already been used. Please request a <a href="{% url 'password_reset' %}">new password reset</a>.</div>
    {% endif %}
{% endblock %}