{% extends "base.html" %}

{% block title %}Password Changed{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success" role="alert">
              Password has been changed!
            </div>
        </div>

    </div>

{% endblock %}