{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col-md-12">
            <h1>Password Reset Complete</h1>
        </div>
    </div>
    <div class="alert alert-success" role="alert">Your password has been set. You may go ahead and <a href="{% url 'login' %}">Log in</a> now.</div>

{% endblock %}