{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add mark{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Add mark</h1>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Add mark</button>
    </form>
{% endblock %}