{% extends 'base.html' %}
{% load static %}
{% block title %}Delete Mark{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Delete Mark</h1>
        </div>
    </div>
    <form method="POST" class="mt-4" >
        {% csrf_token %}
        <h3 class="font-weight-light">Are you sure you want to delete <b>{{ object.exam.name }}</b> mark?</h3>
        <button type="submit" class="btn btn-danger mt-4">Delete Mark</button>
    </form>

{% endblock %}