{% extends 'base.html' %}
{% load static %}
{% load has_group %}
{% block title %}Users{% endblock %}

{% block content %}
    <h1>Users</h1>
    <form action="{% url "users:list" %}" method="GET">
        <div class="input-group mb-3">
            {% if search %}
                <input name="username" type="text" class="form-control" placeholder="Search user" aria-label="Username" value="{{ search }}">
            {% else %}
                <input name="username" type="text" class="form-control" placeholder="Search user" aria-label="Username">
            {% endif %}
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>

    </form>
    {% for us in object_list %}
        <div class="card mt-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-2 align-self-center">
                        <a href="{% url "users:profile" us.pk %}">
                        {% if us.propic %}
                            <img class="img-fluid img-thumbnail" src="{{ us.propic.url }}">
                        {% else %}
                            <img class="img-fluid img-thumbnail" src="{% static 'users/avatar-placeholder.png' %}">
                        {% endif %}
                        </a>
                    </div>
                    <div class="col-7 align-self-center">
                        <h3>{% if us|has_group:"mods" %}<i class="bi bi-award-fill"></i> {% endif %}<a href="{% url "users:profile" us.pk %}">{{ us.username }}</a></h3>
                        <p>{{ us.first_name }} {{ us.last_name }}</p>
                    </div>
                    <div class="col-3  float-right align-self-center text-center">
                        <form method="POST" action="{% url 'users:vote-user' us.pk %}">
                            {% csrf_token %}
                            {% if user in us.votes.all %}
                                <button id="vote" type="submit" name="user_id" class="btn btn-outline-danger btn-lg mb-1" value="{{ us.id }}">Unvote</button>
                            {% else %}
                                <button id="vote" type="submit" name="user_id" class="btn btn-success btn-lg mb-1" value="{{ us.id }}">Vote</button>
                            {% endif %}
                            <h4><span class="badge badge-secondary">{{ us.votes.count }}</span></h4>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


    <nav aria-label="..." class="mt-5">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page=1" tabindex="-1">First</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">{{ page_obj.previous_page_number }}</a>
            </li>
        {% endif %}

        <li class="page-item active">
          <a class="page-link" href="" id="actual-page-link">{{ page_obj.number }}<span class="sr-only">(current)</span></a>
        </li>
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            </li>

        {% endif %}

      </ul>
    </nav>


{% endblock %}
{% block javascript %}
    <script>
        links = document.getElementsByClassName("page-link")
        for (var i = 0; i < links.length; i++) {
            if(links[i].id != "actual-page-link"){
                links[i].href += "&username={{ search }}"
            }

        }

    </script>
{% endblock %}