{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    {% block title %}My Profile{% endblock %}
{% endblock %}
{% block content %}
    <h1>My Profile</h1>
    <div class="row mt-4 mb-4">
        <div class="col-3">
            {% if object.propic %}
                <img class="img-fluid img-thumbnail" src="{{ object.propic.url }}">
            {% else %}
                <img class="img-fluid img-thumbnail" src="{% static 'users/avatar-placeholder.png' %}">
            {% endif %}

        </div>

        <div class="col-9">
            <h2>{{ object.username }}</h2>
            <h4 class="font-weight-light">{{ object.first_name }} {{ object.last_name }}</h4>
            <h4 class="font-weight-light">{{ object.email }}</h4>
            {% if object == user %}
                <a class="btn btn-secondary mt-4" href="{% url "users:update" object.id %}"><i class="bi bi-pencil"></i></a>
                <a class="btn btn-info mt-4" href="{% url "password_change" %}">Change password</a>
                <a class="btn btn-success mt-4" href="{% url "users:add-mark" %}">Add mark</a>
            {% endif %}
        </div>

    </div>

    <h3>Exams</h3>
    {% if not object.private or object == user %}
        <div class="mt-4">
            <table id="table-exams" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Mark</th>
                        {% if object == user %}
                            <th>Edit</th>
                            <th>Delete</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for mark in marks %}
                        <tr>
                            <td><a href="{% url "forum:view-topic" mark.exam.pk %}">{{ mark.exam.name }}</a></td>
                            <td>{{ mark.vote }}{% if mark.honors %} L{% endif %}</td>
                            {% if object == user %}
                                <td class="text-center align-middle"><a class="btn btn-secondary" href="{% url "users:update-mark" mark.pk %}"><i class="bi bi-pencil"></i></a></td>
                                <td class="text-center align-middle"><a class="btn btn-danger" href="{% url "users:delete-mark" mark.pk %}">Delete</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                </tbody>

            </table>
        </div>
    {% else %}
        <h5>This profile is private!</h5>
    {% endif %}


{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            $('#table-exams').DataTable();
        } );
    </script>

{% endblock %}