{% extends 'base.html' %}

{% block head %}
    {% block title %}Homepage{% endblock %}
    <link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>

    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>

{% endblock %}


{% block content %}
    <h1>Homepage</h1>
    <h3 class="mt-4">Events</h3>
    <div id='calendar' class="mt-4" ></div>
{% endblock %}

{% block javascript %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {

                initialView: 'listMonth',
                themeSystem: 'bootstrap',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                events: [
                    {% for event in event_list %}
                    {
                        title: '{{ event.topic.name }} - {{ event.title }}',
                        start: '{{ event.start_date.isoformat }}{% if event.start_time %} {{ event.start_time.isoformat }}{% endif %}',
                        url: '{% url 'events:view-event' event.pk %}',
                    },
                    {% endfor %}
                ]
            });
            calendar.setOption('height', 600);
            calendar.render();

        });
    </script>
{% endblock %}